body {
    background-color: rgb(1, 65, 46);
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 250px minmax(580px,1fr);
    grid-template-rows: 50px minmax(100vh,1000px);
    color: white;
}

#content.hide-sidebar {
    transition: 0.15s;
    grid-template-columns: 0 minmax(580px,1fr);
}

#sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-top: 30px;
    background-color: rgb(1, 65, 54);
    left: 0;
    top: 50px;
}

#sidebar.hidden {
    position: absolute;
    top: 50px;
    left: -250px;
    width: 250px;
    height: 100vh;
    transition: 0.15s;
}

.sidebar-item {
    margin: 0 30px 15px 30px;
    display: flex;
    font-size: 16px;
}

.sidebar-item:hover:not(.selected) {
    filter: brightness(0) drop-shadow(0 0 3px red) invert(1);
}

#sidebar .selected {
    background-color: rgba(1, 65, 54, 0.151);
    filter: drop-shadow(0 0 5px rgb(175, 175, 175));
    border-radius: 10px;
}

.sidebar-text {
    align-self: center;
    margin-left: 10px;
    overflow: auto;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
}

.sidebar-category {
    margin: 0 auto 20px 30px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: rgba(235, 235, 235, 0.685);
}

.sidebar-project-item {
    padding-left: 30px;
}

.sidebar-project {
    margin: 0 5px 10px 30px;
    display: grid;
    grid-template-columns: 30px 158px 27px;
    font-size: 17px;
}

.icon-project{
    background: url(./icons/line_horizontal.svg);
    background-size: 25px;
}

.sidebar-project.selected .icon-project {
    background: url(./icons/arrow_right.svg);
    background-size: 25px;
}

.sidebar-project-remove {
    border: none;
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
}

.sidebar-project-remove:hover{
    filter: drop-shadow(0 0 3px red) invert(1);
}

.sidebar-tag {
    margin: 0 30px 30px 30px;
    display: flex;
    font-size: 17px;
}

.sidebar-tag:hover {
    filter: brightness(0) drop-shadow(0 0 3px red) invert(1);
}

.sidebar-separator {
    background-color: rgba(194, 194, 194, 0.24);
    height: 2px;
    margin: 0 30px 15px 30px;
    display: flex;
}

#form-add-project {
    margin: 0 10px 15px 30px;
    display: grid;
    grid-template-columns: minmax(170px,1fr) 20px;
}

#form-add-project #name {
    height: 20px;
}

#form-add-project #submit {
    height: 26px;
}

#form-add-project input {
    background-color: rgba(0, 61, 43, 0.637);
    color: white;
    border: 2px inset rgb(0, 177, 124);
    border-radius: 5px;
} 

#form-add-project #submit:active {
    border: none;
}

#form-add-project input:hover, select:hover {
    outline: 1px solid rgb(0, 255, 115);
}

#form-add-project input:focus, select:focus {
    outline: 1px solid rgb(0, 255, 115);
}

.icon-today {
    background: url(./icons/today.svg);
    background-size: 25px;
}
.icon-upcoming {
    background: url(./icons/upcoming.svg);
    background-size: 25px;
}
.icon-highpriority {
    background: url(./icons/high_priority.svg);
    background-size: 25px;
}


#header {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    padding: 10px;
    background-color: rgb(0, 58, 36);
}

.header-button {
    all: unset;
    width: 25px;
    height: 25px;
    filter: invert(1);
    background: url(./icons/icon.svg);
    background-size: 25px;
    
}

.header-button:hover {
    filter: brightness(0) drop-shadow(0 0 3px red) invert(1);
}

.header-button.icon-menu {
    align-self: center;
    margin-left: 20px;
}

.header-title {
    grid-column: 2/3;
    margin-left: 20px;
    align-self: center;
}

.header-button.icon-settings {
    align-self: center;
    grid-column: 3/4;
}

.icon-menu {
    background: url(./icons/menu.svg);
    background-size: 25px;
}
.icon-settings {
    background: url(./icons/settings.svg);
    background-size: 25px;
}

#mainview {
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 20px;
    background-color: rgb(0, 80, 56);
    display: grid;
    grid-template-rows: 130px 1fr;
}

#mainview form {
    grid-row: 2/3;
    display: grid;
    gap: 2px;
    grid-template-columns: minmax(80px,1fr) 120px 100px 90px 90px;
}

#add-todo-box {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-row: 1/2;
}

#add-todo-box .title {
    grid-row: 1/2;
    font-style: italic;
}

#form-add-todo select {
    background-color: rgba(0, 61, 43, 0.637);
    color: white;
    border: 2px inset rgb(0, 177, 124);
    border-radius: 5px;
    height: 36px;
}
#form-add-todo input {
    background-color: rgba(0, 61, 43, 0.637);
    color: white;
    border: 2px inset rgb(0, 177, 124);
    border-radius: 5px;
    height: 30px;
}

#form-add-todo input:hover, select:hover {
    outline: 1px solid rgb(0, 255, 115);
}

#form-add-todo input:focus, select:focus {
    outline: 1px solid rgb(0, 255, 115);
}

#form-add-todo #submit {
    height: 36px;
}

#form-add-todo #submit:active {
    border: none;
}

#form-add-todo #desc {
    grid-column: 1/6;
}

#todoview {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 25px 1fr;
}

#todoview .labels {
    display: grid;
    grid-template-columns: minmax(170px,1fr) 125px 90px 70px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 0 10px;
    grid-row: 1/2;
}

#todobox {
    grid-row: 2/3;
    height: 800px;
    overflow: auto;
}

.todo-item {
    display: grid;
    grid-template-columns: minmax(170px,1fr) 125px 90px 70px;
    grid-template-rows: 25px 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(2, 160, 62);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    background-color: rgb(1, 65, 46);
    user-select: none;
}

.todo-item * {
    user-select: text;
}

.todo-item.completed {
    border: 2px solid rgba(128, 128, 128, 0);
    background-color: rgb(29, 54, 47);
    box-shadow: none;
    filter: opacity(50%);
}

.todo-description {
    overflow: hidden;
    visibility: visible;
    height: 60px;
    padding-top: 10px;
    transition: 0.15s;
    font-size: 12px;
    grid-column: 1/5;
}

.todo-description.hidden {
    visibility: hidden;
    padding-top: 0;
    height: 0px;
    transition: 0.15s;
}

.todo-name {
    font-size: 16px;
    text-align: left;
    align-self: center;
    margin-right: auto;
}

.todo-duedate {
    font-size: 14px;
    align-self: center;
    text-align: left;
    margin-right: auto;
}

.todo-priority {
    text-align: left;
    align-self: center;
    margin-right: auto;
}

.todo-actions {
    display: grid;
    grid-template-columns: repeat(3, 40px);
}

.todo-actions button {
    border: none;
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
}

.todo-actions button:hover {
    filter: drop-shadow(0 0 3px red) invert(1);
}

.todo-project {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 11px;
    color: rgb(162, 255, 162);
    margin-top: -3px;
}

.icon-edit {
    background-color: blue;
    background: url(./icons/edit.svg);
    background-size: 25px;
}
.icon-checkbox {
    background: url(./icons/checkbox_no.svg);
    background-size: 25px;
}
.icon-delete {
    background: url(./icons/delete.svg);
    background-size: 25px;
}

.todo-item.completed .icon-checkbox {
    background: url(./icons/checkbox_yes.svg);
    background-size: 25px;
}